*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color:#000811;
}

#container{
    width: 96.9vw;
    height: 20vh;
    background-color: #000811;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px solid #000811;
}
#browse{
    width: 700px;
    height: 40px;
    text-align: center;
    font-size: 40px;
    border-radius: 20px;
    font-family: 'victorian';
}

header{
    width: 98.9vw;
    height: 60vh;
    font-size: 80px;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 4rem;
}

.card{
    background-color: rgb(128, 0, 0);
    display: flex;
    flex-direction: column;
    width: 220px;
    height: 300px;
    border-radius: 20px;
}
.filter{
    display: none
}
.imgcards{
    width: 220px;
    height: 200px;
}
.namescard,.cardcategory{
    display: flex;
    justify-content: center;
    font-family: 'victorian' ;
    color: aliceblue;
    padding-block-start: 5px;
    font-size: 28px;
}
.logo{
    width: 98.9vw;
    height: 60vh;
}
footer{
    width: 98.9vw;
    height: 60vh;
}
@font-face {
    font-family: 'victorian';
    src: url("fuentes/greatvictorian/Hintown\ DEMO.otf");
}